<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="welcome">
      <h1>Hi everyone!</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
        laboriosam debitis expedita error, eos quod veniam itaque ipsa corporis
        molestiae repellendus facere tenetur pariatur esse? Earum ullam enim hic
        totam.
      </p>
      <img src="./sun.png" alt="sun" />
      <button
        type="button"
        onclick="window.location.href='http://localhost:5000/login'"
      >
        Login
      </button>
    </div>
  </body>
</html>
